
$white:#ffffff;
$black:#000000;
$platinum_grey:#6B6E6F;
$footer-bg:#1D292E;
$dark_green:#2B3940;
$light_green:#00B074;
$orange:#FA5F1C;
$azul_blue:#1A5AEB;
$light_grey:#E5E5E5;
$yellow:#FACF32;
$red_flag:#F71E3F;
$dark_soft_violet:#4743DB;
$neon_nazar:#50D7E5;
$very_light_blue:#B0D5E8;
$base_blue:#5877BE;
$pink:#FC4980;
$sec_bg:#F4F5F8;